### Java／Kotlin／Spring／Vert.x 项目常用 .gitignore 模板 ###
### GitHub地址： https://github.com/yanwenkun/git-ignore-and-attributes-for-java ###
### 整理者： code@yanwk.fun ###
### 版本： 20191121-1 ###

log/
*.log
*.class
!**/src/main/**
!**/src/test/**

### Apple ###
._*
*.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Icon must end with two \r
Icon

### Spring Boot ###
HELP.md

### Vert.x ###
.vertx/

### Gradle ###
!gradle/wrapper/gradle-wrapper.jar
.gradle
gradle-app.setting
.gradletasknamecache
build/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### NetBeans ###
nbproject/private/
buildTool/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Apache Ant ###
build.properties

# 图片缩略图
Thumbs.db

# 压缩包
*.tar.gz
*.rar
*.zip

# 程序包
*.nar
*.ear

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### IntelliJ IDEA 常用配置 ###
## 该配置将排除整个 .idea 文件夹
## 如果你想将部分 IDEA 项目设置也提交到代码库，请使用下一段的“详细”配置，并注释掉本段的配置
.idea
*.iws
*.iml
*.ipr
out/

#### Intellij+iml 详细（将会保留一些配置文件，按需开启） ###
## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
## Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
#
## User-specific stuff
#.idea/**/workspace.xml
#.idea/**/tasks.xml
#.idea/**/usage.statistics.xml
#.idea/**/dictionaries
#.idea/**/shelf
#
## Generated files
#.idea/**/contentModel.xml
#
## Sensitive or high-churn files
#.idea/**/dataSources/
#.idea/**/dataSources.ids
#.idea/**/dataSources.local.xml
#.idea/**/sqlDataSources.xml
#.idea/**/dynamic.xml
#.idea/**/uiDesigner.xml
#.idea/**/dbnavigator.xml
#
## Gradle
#.idea/**/gradle.xml
#.idea/**/libraries
#
## Gradle and Maven with auto-import
## When using Gradle or Maven with auto-import, you should exclude module files,
## since they will be recreated, and may cause churn.  Uncomment if using
## auto-import.
#.idea/artifacts
#.idea/compiler.xml
#.idea/modules.xml
#.idea/*.iml
#.idea/modules
#*.iml
#*.ipr
#
## CMake
#cmake-build-*/
#
## Mongo Explorer plugin
#.idea/**/mongoSettings.xml
#
## File-based project format
#*.iws
#
## IntelliJ
#out/
#
## mpeltonen/sbt-idea plugin
#.idea_modules/
#
## JIRA plugin
#atlassian-ide-plugin.xml
#
## Cursive Clojure plugin
#.idea/replstate.xml
#
## Crashlytics plugin (for Android Studio and IntelliJ)
#com_crashlytics_export_strings.xml
#crashlytics.properties
#crashlytics-build.properties
#fabric.properties
#
## Editor-based Rest Client
#.idea/httpRequests
#
## Android studio 3.1+ serialized cache file
#.idea/caches/build_file_checksums.ser
