<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 开发阶段，仅输出到控制台 -->
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.example" level="TRACE"/>
    </springProfile>

    <!-- 验证阶段，输出到控制台和文件 -->
    <springProfile name="staging">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.example" level="INFO"/>
    </springProfile>

    <!-- 生产阶段，仅输出到文件 -->
    <springProfile name="production">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
        <root level="ERROR">
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.example" level="WARN"/>
    </springProfile>

</configuration>
