<!-- 配置 Maven 使用阿里云的镜像 -->
<!-- 请将本文件置于： ~/.m2/settings.xml -->
<settings>

  <mirrors>
    <mirror>
      <id>AliyunMavenPublic</id>
      <name>Aliyun Maven Public</name>
      <url>https://maven.aliyun.com/repository/public</url>
      <mirrorOf>central,jcenter</mirrorOf>
    </mirror>
    <mirror>
      <id>AliyunMavenSpring</id>
      <name>Aliyun Maven Spring</name>
      <url>https://maven.aliyun.com/repository/spring</url>
      <mirrorOf>spring</mirrorOf>
    </mirror>
    <mirror>
      <id>AliyunMavenSpringPlugin</id>
      <name>Aliyun Maven Spring-Plugin</name>
      <url>https://maven.aliyun.com/repository/spring-plugin</url>
      <mirrorOf>spring-plugin</mirrorOf>
    </mirror>
    <mirror>
      <id>AliyunMavenGoogle</id>
      <name>Aliyun Maven Google</name>
      <url>https://maven.aliyun.com/repository/google</url>
      <mirrorOf>google</mirrorOf>
    </mirror>
  </mirrors>

</settings>
